.skill{
    
    
    margin: 2%;
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #444649;
    
    
    
}

.about{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;

    transition: 1s;
    transform: translateX(-200%);
}

.profilePic > img{
    width: 120%;
    height: auto;
    
}

.profilePic{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    overflow: hidden;
    
}



.aboutText{
    font-size: 30px;
    color: #1f2021;
}

#buildSomething{
    font-size: 20px;
    transition: all .5s;
    cursor: pointer;
}

#buildSomething:hover{
    color:#e32d1b;
}

.poweredText{
    color: #444649;
}

#about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#aboutText{

    width: 50%;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 30px;
    background-color: #1bd1e3;
    color: #fff;
    
}

.largeIcon{
    font-size: 60px;
}

.skills{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
    transition: 1s;
    transform: translateX(100%);
}




@media only screen and (max-width: 1000px) {
    #aboutText{
    
        width: 100%;
    }

    .about{
        width: 100%;
    }

    .profilePic{
        width: 50vw;
        height: 50vw;
    }

    .skill, .icon{
        width: 200px;
    }

  }