.email{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin-top: 5%;
    transform: translateX(500%);
    transition: all 1s;
}


@media only screen and (max-width: 600px) {
    .email{
        width: 80%;
        height: auto;
        margin-bottom: 30px;
    }
  }

#contact{
    background: #252934;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: auto !important;
    padding-bottom: 30px;
}

.email input, textarea{
    background: #1e242c;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 12pt;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}

#submit{
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
    color: #fff;
    margin: 30px;
    text-align: center;
    width: 200px;

}