.screen{
    width: 100%;
    height: auto;
    min-height: 100vh;
    border: .5px solid #000;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.heading{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    transition: 1s;
    transform: translateX(-1000%);

}

.underLine{
    border-bottom: 3px solid #d3d3d3;
    width: 20%;
    margin-bottom: 30px;
    transition: 1s;
    transform: translateX(1000%);
}

.slide{
    
    transform: translateX(0) !important;
}
