body {
  overflow: hidden;
  margin: 0;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1b242f;
}

.padding{
  padding-top: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{ scroll-behavior:smooth; }